{% block content %}

This is a movie database!

{% endblock %}

<p>------------</p>
<h3>Navigation</h3>
<ul>
	<li><a href="{{ url_for('home')}}">home</a></li>
    <li><a <a href="http://localhost:5000/names">See a list of movies in the db</a></li>
    <li><a href="http://localhost:5000/directors">See a list of directors in the db</a></li>
    <li><a href="http://localhost:5000/user_form">log your username into the db</a></li>
    <li><a href="http://localhost:5000/users">See a list of users in the db</a></li>
</ul>

